VITE_SUPABASE_URL=https://xtfegvvytznrjtjawweq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0ZmVndnZ5dHpucmp0amF3d2VxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4Njk4OTcsImV4cCI6MjA4NzQ0NTg5N30.E5yp4SHJnwSAmY9BiL-W2wqFE2v58LZ5q5sQ2V9OkM
